<section class="header">
    <h1>PROTOTYPE GUI</h1>
</section>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-tabs">
                <li role="presentation" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">Home</a>
                </li>
                <li role="presentation" 
                    routerLinkActive="active">
                    <a routerLink="/maps">Maps</a>
                </li>
                <li role="presentation" 
                    routerLinkActive="active">
                    <a routerLink="/messages">Messages</a>
                </li>
                <li role="presentation" 
                    routerLinkActive="active">
                    <a routerLink="/uavInput">UAV-Input</a>
                </li>
                <li role="presentation"
                    routerLinkActive="active">
                    <a routerLink="/stations">Stations</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="container-fluid p-0">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>